*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  width: 88%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1.4%;
  margin-right: -1.4%;
}

.grid-highlight {
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 0.0725em;
  margin-bottom: 1.5625em;
  padding: 0.9375em;
}

.grid-fourth,
.grid-third,
.grid-half,
.grid-two-thirds,
.grid-three-fourths,
.grid-full,
.grid-auto {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-left: 1.4%;
  padding-right: 1.4%;
}

@media (min-width: 40em) {
  .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .row-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .grid-auto {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .grid-fourth {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid-third {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .grid-half {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid-two-thirds {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .grid-three-fourths {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid-full {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .offset-fourth {
    margin-left: 25%;
  }
  .offset-third {
    margin-left: 33.33333%;
  }
  .offset-half {
    margin-left: 50%;
  }
  .offset-two-thirds {
    margin-left: 66.66667%;
  }
  .offset-three-fourths {
    margin-left: 75%;
  }
  .offset-full {
    margin-left: 100%;
  }
  .grid-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .grid-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

body {
  background: #ffffff;
  color: #272727;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

@media (min-width: 40em) {
  body {
    line-height: 1.5625;
  }
}

p {
  margin: 0 0 1.5625em;
}

/**
  * Hyperlink styling
  * 1. Remove the gray background on active links in IE 10.
  * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
  */
a {
  background-color: transparent;
  /* 1 */
  color: #000;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
  /* 2 */
  word-wrap: break-word;
  /**
    * Improve readability when focused and also mouse hovered in all browsers.
    */
}

a:active,
.link-block-styled:active,
a:hover,
.link-block-styled:hover,
.link-block:hover .link-block-styled {
  outline: 0;
}

a:active,
.link-block-styled:active,
a:focus,
.link-block-styled:focus,
a:hover,
.link-block-styled:hover,
.link-block:hover .link-block-styled {
}

/**
  * Creates block-level links
  */
a.link-block,
.link-block.link-block-styled {
  color: #272727;
  display: block;
  text-decoration: none;
}

/**
  * Heading styling for h1 through h6 elements.
  * Heading class lets you use one heading type for semantics, 
   style it as another heading type.
  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 1em;
  padding: 1em 0 0;
  word-wrap: break-word;
}

h1,
.h1 {
  font-size: 1.5em;
  padding-top: 0.5em;
}

@media (min-width: 40em) {
  h1,
  .h1 {
    font-size: 1.75em;
  }
}

h2,
.h2 {
  font-size: 1.3125em;
}

h3,
.h3 {
  font-size: 1.1875em;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 1em;
}

h4,
.h4 {
  text-transform: uppercase;
}

.text-small {
  font-size: 0.9375em;
}

.text-large {
  font-size: 1.1875em;
  line-height: 1.4;
}

@media (min-width: 40em) {
  .text-large {
    font-size: 1.3125em;
  }
}

/**
  * Text colors
  */
.text-muted {
  color: #808080;
}

.text-blue {
  color: blue;
}

/**
  * Text alignment
  */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

@media (min-width: 40em) {
  .text-right-medium {
    text-align: right;
  }
}

/**
  * Floats
  */
.float-left {
  float: left;
}

.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

/**
  * Margins
  */
.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-top {
  margin-top: 1.5625em;
}

.margin-bottom {
  margin-bottom: 1.5625em;
}

.margin-bottom-small {
  margin-bottom: 0.5em;
}

.margin-bottom-large {
  margin-bottom: 2em;
}

/**
  * Padding
  */
.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.padding-top {
  padding-top: 1.5625em;
}

.padding-top-small {
  padding-top: 0.5em;
}

.padding-top-large {
  padding-top: 2em;
}

.padding-bottom {
  padding-bottom: 1.5625em;
}

.padding-bottom-small {
  padding-bottom: 0.5em;
}

.padding-bottom-large {
  padding-bottom: 2em;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.count-card p {
  margin: 0;
}

.count-class {
  font-size: 65px;
  line-height: 85px;
  color: #333;
}

.bg-blue {
  background: #24292e;
  color: #fff;
}

.repo-name {
  background: #0366d6;
  padding: 3px 5px;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 3px;
  color: #fff;
}

.count-card {
  border: 1px solid #ddd;
  padding: 30px;
  font-size: 15px;
  color: #555;
  border-radius: 3px;
  box-shadow: 0 1px 13px 0 rgba(219, 223, 225, 0.4);
  display: block;
  position: relative;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  top: 0;
}

.count-card:hover {
  border: 1px solid #999;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.2);
  top: -2px;
  position: relative;
}

.chevron {
  position: absolute;
  right: 30px;
}

.footer {
  border-top: 1px solid #ddd;
}

.footer a {
  color: #0366d6;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: initial;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
